<!-- File: ./resources/app/js/components/Update.vue -->
<template>
    <div class="container">
        <form>
            <div :class="['form-group m-1 p-3', successful ? 'alert-success' : '']">
                <span v-if="successful" class="label label-sucess">Updated!</span>
            </div>

            <div :class="['form-group m-1 p-3', error ? 'alert-danger' : '']">
            <span v-if="errors.title" class="label label-danger">
              {{ errors.title[0] }}
            </span>
                <span v-if="errors.body" class="label label-danger">
              {{ errors.content[0] }}
            </span>
            </div>

            <div class="form-group">
                <input type="title" ref="title" class="form-control" id="title" placeholder="Enter title" required>
            </div>

            <div class="form-group">
                <textarea class="form-control" ref="content" id="content" placeholder="Enter a content" rows="8" required></textarea>
            </div>

            <button type="submit" @click.prevent="update" class="btn btn-primary block">
                Submit
            </button>
        </form>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getPost();
        },
        props: {
            slug: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                error: false,
                successful: false,
                errors: []
            };
        },
        methods: {
            update() {
                const formData = new FormData();
                formData.append("title", this.$refs.title.value);
                formData.append("content", this.$refs.content.value);
                formData.append('slug', this.slug);
                formData.append('_method', 'PUT');
                axios
                    .post("/admin/post", formData)
                    .then(response => {
                        this.successful = true;
                        this.error = false;
                        this.errors = [];
                    })
                    .catch(error => {
                        if (!_.isEmpty(error.response)) {
                            if ((error.response.status = 422)) {
                                this.errors = error.response.data.errors;
                                this.successful = false;
                                this.error = true;
                            }
                        }
                    });
            },
            getPost() {
                axios.get("/blog/view/" + this.slug).then(response => {
                    this.$refs.title.value = response.data.data.title;
                    this.$refs.content.value = response.data.data.content;
                });
            }
        }
    };
</script>
