<template>
    <div class="container">
        <form class="form-inline my-2 my-lg-0 float-right">
            <input class="form-control mr-sm-2" type="search" ref="search" placeholder="Search" min="3" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" @click.prevent="search">Search</button>
        </form>
        <nav class="navbar navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" v-if="!$auth.check()">
                        <router-link :to="{ name: 'login'}" class="nav-link">
                            Login
                        </router-link>
                    </li>
                    <li class="nav-item" v-if="$auth.check()">
                        <router-link :to="{ name: 'create' }" class="nav-link">
                            New post
                        </router-link>
                    </li>
                    <li class="nav-item" v-if="$auth.check()">
                        <a href="#" @click.prevent="$auth.logout()" class="nav-link">Logout</a>
                    </li>
                </ul>
        </nav>

        <article>
            <header>
                <!--                <header class="d-inline">Welcome, {{ userName }}</header>-->
                <!--                <p @click="logout" class="float-right mr-3" style="cursor: pointer">Logout</p>-->
            </header>
            <div>
                <router-view></router-view>
            </div>
        </article>
    </div>
</template>
<script>
    export default {
        props: {
        },
        data() {
            return {};
        },
        methods: {
            logout() {
                axios.post("/auth/logout").then(() => {
                    window.location = "/";
                });
            },
            search() {
                window.location = '/search?query=' + this.$refs.search.value;
            }
        }
    };
</script>
