<template>
    <div id="posts">
        <div class="card" v-for="post in posts">
            <div class="card-body">

                <h5 class="card-title">
                    <router-link :to="{ name: 'view', params: { slug: post.slug } }">
                        {{ post.title }}
                    </router-link>

                    <router-link :to="{ name: 'update', params: { slug : post.slug } }" v-if="$auth.check()">
                        <button type="button" class="p-1 mx-3 float-right btn btn-success">
                            Update
                        </button>
                    </router-link>
                    <button
                        type="button"
                        @click="deletePost(post.slug)"
                        class="p-1 mx-3 float-right btn btn-danger"
                        v-if="$auth.check()"
                    >
                        Delete
                    </button>
                </h5>
                <p class="card-text">{{ post.content|truncate(250) }}</p>
                <span class="float-right"><small class="text-muted">{{ post.updated_at }}</small></span>
            </div>
        </div>
        <div class="text-center">
            <span class="btn btn-success">Page: {{ currentPage }}</span>
            <button
                v-if="prev"
                type="button"
                @click="navigate(prev)"
                class="m-3 btn btn-primary float-left"
            >
                Previous
            </button>

            <button
                v-if="next"
                type="button"
                @click="navigate(next)"
                class="m-3 btn btn-primary float-right"
            >
                Next
            </button>
            <div class="clear-fix"></div>
        </div>
    </div>
</template>
<script>
    export default {
        created() {
            this.getPosts();
        },
        data() {
            return {
                posts: {},
                next: null,
                prev: null,
                currentPage: 1
            };
        },
        methods: {
            getPosts(address) {
                axios.get(address ? address : "/blog/posts").then(response => {
                    this.posts = response.data.data.data;
                    this.prev = response.data.data.prev_page_url;
                    this.next = response.data.data.next_page_url;
                    this.currentPage = response.data.data.current_page;
                });
            },
            deletePost(slug) {
                this.$dialog
                    .confirm('Please confirm to delete post')
                    .then(dialog => {
                        axios.delete("/admin/post", {data: {slug: slug}}).then(response => this.getPosts())
                    });
            },
            navigate(address) {
                this.getPosts(address)
            }
        }
    };
</script>
