<template>
    <div id="post">
        <div class="card" v-if="post">
            <div class="card-body">

                <h5 class="card-title">
                    {{ post.title }}

                    <router-link :to="{ name: 'update', params: { slug : post.slug } }" v-if="$auth.check()">
                        <button type="button" class="p-1 mx-3 float-right btn btn-success">
                            Update
                        </button>
                    </router-link>
                    <button
                        type="button"
                        @click="deletePost(post.slug)"
                        class="p-1 mx-3 float-right btn btn-danger"
                        v-if="$auth.check()"
                    >
                        Delete
                    </button>
                </h5>
                <p class="card-text">
                    {{ post.content }}
                </p>

                <span class="float-right"><small class="text-muted">{{ post.updated_at }}</small></span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.getPost();
        },
        props: {
            slug: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                post: {}
            };
        },
        methods: {
            getPost() {
                axios.get('/blog/view/' + this.slug).then((response) => {
                    this.post = response.data.data;
                });
            },
            deletePost(slug) {
                this.$dialog
                    .confirm('Please confirm to delete post')
                    .then(function(dialog) {
                        axios.delete("/admin/post", {data: {slug: slug}}).then(response => window.location = '/')
                    });
            },
        }
    };
</script>
